<li>
  <a href="{{product.url}}">
    <h3>
      {{- product.title | link_to: product.url }}
    </h3>
    <img src="{{product.featured_image | image_url: width: 400}}" alt="{{product.title}}">
    <span>
      {{ product.price | money }}
    </span>
  </a>
</li>
